/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09-Apr-2015, 18:35:00
    Author     : Richard
*/

.chart-title {
    -fx-font-size: 40px;
}

.axis {
    -fx-tick-label-font-size: 20px;
}

.axis-label {
    -fx-font-size: 20px;
}
