/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-May-2015, 13:18:08
    Author     : Richard
*/

.notification-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}