/*
This is the master stylesheet that will be applied to all major scenes in the
application.
 */

// CONFIGURATION VIEW

.title {
    -fx-font-size: 32px;
}

// TIME

.date-time-view .time-label {
    -fx-font-size: 80px;
}

.date-time-view .date-label {
    -fx-font-size: 30px;
}

// WEATHER

.weather-view .label {
    -fx-font-size: 30px;
}

// NOTIFICATIONS

.notification-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

// CHARTS

.chart-view .axis {
    -fx-tick-label-font-size: 20px;
}

.chart-view .axis-label {
    -fx-font-size: 20px;
}

.chart-view.big .chart-title {
    -fx-font-size: 40px;
}

.chart-view.small .chart-title {
    -fx-font-size: 30px;
}

// TOUCH

.device-view #config-icon {
    -fx-image: url("../images/config.png");
}

.cable-view {
    -fx-effect: dropshadow(gaussian, black, 5, 0.2, 0, 0);
}

.electricity {
    -fx-fill: #eeff00;
    -fx-effect: dropshadow(gaussian, #eeff00, 10, 0.5, 0, 0);
}

.node-view.on-chart,
.transformer-view.on-chart,
.house-view.on-chart,
.device-view.on-chart,
.cable-view.on-chart {
    -fx-effect: dropshadow(gaussian, white, 10, 0.3, 0, 0);
}