/*
This is the master stylesheet that will be applied to all major scenes in the
application.
 */

// CONFIGURATION VIEW

.title {
    -fx-font-size: 32px;
}

// TIME

.date-time-view .time-label {
    -fx-font-size: 100px;
}

.date-time-view .date-label {
    -fx-font-size: 30px;
}

// WEATHER

.weather-view .label {
    -fx-font-size: 30px;
}

// NOTIFICATIONS

.notification-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

// CHARTS

.chart-view .axis {
    -fx-tick-label-font-size: 20px;
}

.chart-view .axis-label {
    -fx-font-size: 20px;
}

.chart-view.big .chart-title {
    -fx-font-size: 40px;
}

.chart-view.small .chart-title {
    -fx-font-size: 30px;
}

// TOUCH

.device-view #config-icon {
    -fx-image: url("../images/config.png");
}

.cable-view {
    -fx-effect: dropshadow(gaussian, black, 5, 0.2, 0, 0);
}

.electricity {
    -fx-fill: #eeff00;
    -fx-effect: dropshadow(gaussian, #eeff00, 10, 0.5, 0, 0);
}



.on-chart.chart-0 {
    -fx-effect: dropshadow(gaussian, orange, 5, 0.8, 0, 0);
}

.on-chart.chart-1 {
    -fx-effect: dropshadow(gaussian, blue, 5, 0.8, 0, 0);
}

.on-chart.chart-2 {
    -fx-effect: dropshadow(gaussian, green, 5, 0.8, 0, 0);
}



.house-view-child {
    -fx-fill: #BDC3CC;
    -fx-stroke-width:10px;
}

.fuse-blown .house-view-child {
    -fx-fill: orangered;
    -fx-stroke: blue;
    -fx-stroke-width: 10px;
}


.battery-progress {
    -fx-accent: green;  
}

.device-view {
    -fx-background-color: #D6D6D6;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.slider .track{
    -fx-background-color:linear-gradient(to bottom, white,lightblue);
    -fx-border-color:black;
    -fx-border-width:1px;
}

.slider .thumb {
    -fx-background-color: linear-gradient(to bottom,#D7E4ED ,#BBC7CE);
     -fx-effect: innershadow( gaussian, black, 3, 0.1, 0, 0 );
    /*-fx-border-radius: 4;*/
}

.control-view-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-padding: 25px 40px;
    -fx-background-color: #BDC3CC;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow( gaussian, black, 5, 0.3, 0, 0);
}


#pauseButton {
    -fx-background-image: url("../images/pause.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}

.paused #pauseButton {
    -fx-background-image: url("../images/play.png");
}

#disableTrianaButton {
    -fx-background-image: url("../images/triana.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}

.triana-disabled #disableTrianaButton {
    -fx-background-image: url("../images/notriana.png");
}


.device-config-view {
    -fx-padding:10px;
    -fx-font-weight: bold;
}

.trash-view-background {
    -fx-background-color:darkgray;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


//Graph styling

.detail-view {
    -fx-background-color: #BBCCCC;
}

#chart-main .chart-series-line {
    -fx-stroke-width:4px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #A8B7B7;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #A8B7B7;
}

#chart-0 .default-color0.chart-series-line { -fx-stroke: orange; }
#chart-1 .default-color0.chart-series-line { -fx-stroke: blue; }
#chart-2 .default-color0.chart-series-line { -fx-stroke: green; }

//Sets current history consumption line: red
.default-color0.chart-series-line { -fx-stroke: #FF4747; }
//Sets future consumption line: blue
.default-color1.chart-series-line { -fx-stroke: darkgrey; }//#3F6FFF; }

